{% extends "base.html" %}

{% block title %}
  TEST MAP
{% endblock %}

{% block style %}
  {{ super() }}
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css"/>
  <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
{% endblock %}}


{% block submenu %}
  <ul>
    <li><a href="javascript:void();" id="getRte">query route</a>
        <input type="text" size="1" name="rte"></li>
	<li><a href="javascript:void();" id="getGroups">get groups</a></li>
 </ul>
{% endblock %}

{% block content %}
  <div id="map" style="height:500px"></div>
  
  <script>
    var map;
    var routes = new L.LayerGroup();
    var groups = new L.LayerGroup();
    initmap();
  
    $(function() {
      $('a#getRte').bind('click', function() {
        $.getJSON('/_getRte', {
          rte: $('input[name="rte"]').val()
        }, function(data) {
          var rte_results = L.geoJson(data.results);
          routes.clearLayers();
          routes.addLayer(rte_results).addTo(map);
        });
        return false;
      });
    });

    $(function() {
      $('a#getGroups').bind('click', function() {
        $.getJSON('/_getGroups', {
        }, function(data) {
          var group_results = L.geoJson(data.results);
          groups.addLayer(group_results).addTo(map);
        });
        return false;
      });
    });


  </script>

{% endblock %}
