body {
    padding-top: 50px;
}
.sub-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.navbar-fixed-top {
    border: 0 none;
}
.sidebar {
    display: none;
}
@media (min-width: 768px) {
.sidebar {
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    bottom: 0;
    display: block;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    position: fixed;
    top: 51px;
    z-index: 1000;
}
}
.nav-sidebar {
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -21px;
}
.nav-sidebar > li > a {
    padding-left: 20px;
    padding-right: 20px;
}
.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    background-color: #428bca;
    color: #fff;
}
.main {
    padding: 20px;
}
@media (min-width: 768px) {
.main {
    padding-left: 40px;
    padding-right: 40px;
}
}
.main .page-header {
    margin-top: 0;
}
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    border-radius: 50%;
    display: inline-block;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.status-1  {
    /*background:#DB5555;*/
    background-color:rgba(219,85,85,0.6);

}
.status-2  {
    /*background:#D4A246;*/
    background-color:rgba(212,162,70,0.6);

}
.status-3  {
    /*background:#CCFF33;*/
    background-color:rgba(204,255,51,0.6);

}
.status-4  {
    /*background:#A1ED44;*/
    background-color:rgba(161,237,68,0.6);

}
.status-complete  {
    /*background:#76DB55;*/
    background-color:rgba(118,219,85,0.6);
}
.status-none  {
    /*background:#76DB55;*/
    background-color:rgba(219,217,217,0.6);
}

.tbl-header {
    background-color:rgba(234,227,227,0.6);
}

.tbl-row-header {
    background-color:rgba(201,213,219,0.6);
}

.pie-marker {   
}

.off-label {  
    background-color:rgba(0,0,0,0.2);
    width:30px;
    height:30px;
    border-radius: 10px;
}

.off-label table {  
    border-collapse:collapse;
    width:100%;
    height:100%;
}

.active-dir {
    background-color:rgba(0,0,0,0.2);
}


.off-label td {
    line-height:0;
    text-align: center;
    font-size:10;
    color:#D2D4EF;
    font-weight:bold;
    text-shadow: 0 0 3px black;
}


