<html>
  <head>
    <title>Lines</title>
  </head>

  <style>
    table,th,td
    {
      border:1px solid black;
      border-collapse:collapse;
    }
  </style>


  <body>
    <a href="{{base_url}}">Home</a><br>
    <a href="{{base_url}}/stats/all">Display All</a><br>
    <table cellpadding=5>
      <tr bgcolor="#A59A9A">
        <td>Line</td>
      </tr>
      {% for line in lines %}
      <tr>
        <td><a href="{{base_url}}/stats/{{line[0]}}">{{line[1]}}</a></td>
      </tr>
      {% endfor %}
  </table> 
 
<body>
</html>
