<html>
  <head>
    <title>Test Database Query</title>
  </head>

  <style>
    table,th,td
    {
      text-align:center;
      border:1px solid black;
      border-collapse:collapse;
    }
  </style>


  <body>
    <a href="http://54.245.116.56/">Home</a><br>
    <a href="http://54.245.116.56/stats">Lines</a><br>
    <table cellpadding=5>
      <tr bgcolor="#A59A9A">
        <td>Datetime</td>
        <td>Line</td>
        <td>Direction</td>
    </tr>
    {% for item in query %}
      <tr>
        <td>{{item.date}}</td>
        <td>{{item.line}}</td>
        <td>{{item.dir}}</td>
      </tr>
  {% endfor %}
  </table> 
 
<body>
</html>
