{% extends "base.html" %}

{% block title %}
  Test Database Query
{% endblock %}

{% block content %}
<b>On Scans</b>
<table cellpadding=5>
  <tr bgcolor="#A59A9A">
    <td>ID</td>
    <td>Time</td>
    <td>Line</td>
    <td>Direction</td>
    <td>Latitude</td>
    <td>Longitude</td>
    <td>UUID</td>
    <td>StopID</td>
    <td>Stop Name</td>
    <td>Dist</td>
  </tr>
  {% for item in on_query %}
  <tr>
    <td>{{ item.id }}</td>
    <td>{{ item.date }}</td>
    <td>{{ item.stops.rte_desc }}</td>
    <td>{{ item.stops.dir_desc }}</td>
    <td>{{ item.lat }}</td>
    <td>{{ item.lon }}</td>
    <td>{{ item.uuid }}</td>
    <td>{{ item.stops.stop_id }}</td>
    <td>{{ item.stops.stop_name }}</td>
    <td>{{ item.dist }}</td>
  </tr>
  {% endfor %}
</table><br> 

<b>Off Scans</b>
<table cellpadding=5>
  <tr bgcolor="#A59A9A">
    <td>ID</td>
    <td>Time</td>
    <td>Line</td>
    <td>Direction</td>
    <td>Latitude</td>
    <td>Longitude</td>
    <td>UUID</td>
    <td>StopID</td>
    <td>Stop Name</td>
    <td>Dist</td>
  </tr>
  {% for item in off_query %}
  <tr>
    <td>{{ item.id }}</td>
    <td>{{ item.date }}</td>
    <td>{{ item.stops.rte_desc }}</td>
    <td>{{ item.stops.dir_desc }}</td>
    <td>{{ item.lat }}</td>
    <td>{{ item.lon }}</td>
    <td>{{ item.uuid }}</td>
    <td>{{ item.stops.stop_id }}</td>
    <td>{{ item.stops.stop_name }}</td>
    <td>{{ item.dist }}</td>
  </tr>
{% endfor %}
</table><br> 

<b>On-Off Pairs</b>
<table cellpadding=5>
  <tr bgcolor="#A59A9A">
    <td>Line</td>
    <td>Direction</td>
    <td>OnID</td>
    <td>On Stop Name</td>
    <td>OffID</td>
    <td>Off Stop Name</td>
    <td>Grouping</td>
  </tr>
  {% for item in pair_query %}
  <tr>
    <td>{{ item.on.stops.rte_desc }}</td>
    <td>{{ item.on.stops.dir_desc }}</td>
    <td>{{ item.on_id }}</td>
    <td>{{ item.on.stops.stop_name }}</td>
    <td>{{ item.off_id }}</td>
    <td>{{ item.off.stops.stop_name }}</td>
    <td>{{ item.on.stops.grouping }}</td>
  </tr>
  {% endfor %}
</table><br> 
<b>Group Counts</b>
<table cellpadding=5>
  <tr bgcolor="#A59A9A">
    <td>Line</td>
    <td>Direction</td>
    <td>Grouping</td>
    <td>Count</td>
  </tr>
  {% for item in group_query %}
  <tr>
    <td>{{ item.rte_desc }}</td>
    <td>{{ item.dir_desc }}</td>
    <td>{{ item.grouping }}</td>
    <td>{{ item.count }}</td>
  </tr>
  {% endfor %}
</table> 
{% endblock %}

